{% extends 'layouts/base.html' %}

{% block content %}


{%  for task in tasks  %}

<div class="container d-flex flex-column align-items-center">
      <h1 class="text-primary">Tasks:</h1>

      <article  class="card my-4" style="width: 18rem;">
          <h3 class="card-title">{%if task.done == False%} &#9201; {% else %}&#10004; {% endif %} {{task.title}}</h3>
           <div class="card-body">
               <p>{{task.description}}</p>
               <p>{{task.project}}</p>
               <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
               <a href="{% url 'update_task_form' task.id %}" class="btn btn-warning">Update</a>
           </div>      
      </article>    
  </div>  

{% endfor %}

{% endblock %}